<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>Affichage des propriétés du bien concerné et est-ce que c'est une bonne offre ?

        <br></br>
        <%= "Le prix est de " + prix + " euros." %>
        <br></br>
        <%= "Type du bien immobilier: " + type %>
        <br></br>
        <%= "La surface est de " + surface + "m²." %>
        <br></br>
        <%= "Le bien se trouve à " + ville + ", " + cp %>
        <br></br>
        <%= "Le prix au m² est de " + prixAuMetreCarre + " euros." %>
        <br></br>
        <%= "Prix du comparateur" %>
        <br></br>
        <%= "Conclusion: " %>



    </p>
</body>

</html>